/node_modules
/public/hot
/public/storage/imagenes
/public/assets/lte
/public/assets/DataTables
/storage/*.key
/vendor

.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
